name: Check

on:
  push:

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-24.04-arm
    strategy:
      matrix:
        go-version: ["1.23", "1.24", "1.25"]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          submodules: "true"
      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: ${{ matrix.go-version }}
      - name: Test
        run: go test -v ./...
      - name: golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9
        with:
          version: v2.2.2
