name: Check

on:
  push:

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-24.04-arm
    strategy:
      matrix:
        go-version: ["1.23", "1.24", "1.25"]
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          submodules: "true"
      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: ${{ matrix.go-version }}
      - name: Test
        run: go test -v ./...
      - name: golangci-lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8
        with:
          version: v2.2.2
